#body {
    background-image: url('https://wallpaperaccess.com/full/1216331.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.main_form {
    margin-bottom: 220px;
    width: 100%;

    button, select {
        width: 80%;
        float: right;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .row {
        margin-top: 10%;
    }

    p {
        float: left;
        margin-top: 0;
        width: 20%;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

#download {
    background-color: #7fcd7f;
    padding: 10px;
    margin-bottom: 20px;

    button {
        width: 100%;
    }

    .btn-2 {
        width: 48%;
        margin-top: 10px;
        background-color: #efefef;

        input {
            display: none;
        }
    }

    #export {
        margin-right: 1%;
        margin-left: 1%;
    }
}

.details-form {
    width: 30%;
    display: inline-block;
    text-align: center;
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 5px;
    font-weight: bold;

    border: 1px solid #938888;

    #extra-defense {
        width: 2em;
    }
}

.defense-points {
    width: 40%;
    padding-top: 7px;
    span {
        font-weight: 400;
    }
    input {
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.app-tormenta {
    padding: 5%;
    padding-right: 6%;

    .label {
        width: 100%;
    }

    .attribute {
        width: 15%;
        text-align: center;
        padding: 3px;
        border: solid;
        border-radius: 10px;
        margin-right: 5px;
    }

    .name {
        font-weight: bold;
        margin: 0px;
    }

    .value {
        font-size: 40px;
        margin: 0px;
    }

    .value_2 {
        margin: 0;
        margin-bottom: 10px;
    }

    .btn.focus, .btn:focus, .btn-success.focus, .btn-success:focus{
        outline: none;
        box-shadow: none;
    }

    .green-button {
        background-color: #2cb704;
        border: none;
    }

    .expertises-table {
        width: 90%;
        padding: 0;
        margin-bottom: 50px;
    }

    .checkbox {
        margin-top: 8px;
        margin-right: 10px;
    }

    #proeficiencias {
        background-color: lightgray;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
        padding-bottom: 15px;
        p {
            margin-bottom: 10px;
            font-weight: bold;
        }
        td {
            padding-right: 40px;
        }
        table {
            margin-left: 20px;
        }
        .proeficiencia, .power, .item {
            font-weight: 400;
            display: inline;
            padding: 0 20px;
        }
    }
}

#weapon-attacks {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    background-color: #959595;
    padding: 20px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;

    h1 {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    p {
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 10px;
    }
    table {
        width: 100%;
        text-align: left;
        border-collapse:separate;
        border-spacing:0 10px;

        td {
            background-color: lightgray;
            margin: 5px;
            padding: 10px 10px 10px 0;
        }
        .name-weapon, .damage-weapon {
            padding-left: 10px;
            border-right: 1px solid #808080;
            padding: 10px 10px 10px 20px;
        }
        .range-weapon {
            padding: 10px 10px 10px 10px;
            background-color: lightgray;
        }
        .attack-button {
            text-align: center;
            button {
                width: 80%;
                margin-left: 5%;
                background-color: #5bb96d;
                color: white;
                font-weight: bold;
            }
        }
    }
}

#attack-modal {
    span {
        font-style: italic;
    }
    .larger {
        color: #001fff;
    }
    .bold {
        font-weight: bold;
    }
}

#new-attack {
    background-color: lightgrey;
    padding: 10px;
    button {
        background-color: #5bb96d;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
    }
}

@media (max-width:600px) {
    .main_form {
        p {
            width: 32%;
        }
    }

    .app-tormenta {
        padding-right: 5%;
    }

    .expertises-table {
        margin-left: 5%;
    }

    .select-title {
        display: none;
    }

    .select-basics {
        width: 100% !important;
    }

    .details-form {
        width: 100% !important;
    }
}