#items {
    background-color: lightgray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    padding-bottom: 15px;
    p {
        margin-bottom: 10px;
        font-weight: bold;
    }
    td {
        padding-right: 40px;
    }
    table {
        margin-left: 20px;
    }
    .proeficiencia, .power, .item {
        font-weight: 400;
        display: inline;
        padding: 0 20px;
    }
}